@import "tailwindcss";

:root {
  --color-navy: #1B1B2F;
  --color-urban: #4A4E89;
  --color-neon: #FF6584;
  --color-cyan: #00C2FF;
  --color-warm: #FFD66B;

  --gradient-skyline: linear-gradient(135deg, var(--color-navy), var(--color-urban));
  --gradient-neon-cyan: linear-gradient(135deg, var(--color-neon), var(--color-cyan));
  --gradient-warm-neon: linear-gradient(135deg, var(--color-warm), var(--color-neon));
  --gradient-urban-cyan: linear-gradient(135deg, var(--color-urban), var(--color-cyan));
  --gradient-meteor: radial-gradient( var(--color-neon), var(--color-cyan), var(--color-navy));
}

body {
  background-color: var(--color-navy);
  color: white;
}